.content {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.image_upload {
  position: relative;
  width: 125px;
  height: 255px;
  float: left;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  float: left;
}
.image_upload .image_display {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 122px;
  height: 255px;
  text-align: center;
  line-height: 265px;
  font-size: 18px;
  color: #207fb3;
  z-index: 9;
  overflow: hidden;
  text-align: center;
  display: table-cell;
}
.image_upload .image_display img {
  vertical-align: middle;
}
.image_upload input {
  left: 0px;
  top: 0px;
  width: 122px;
  z-index: 99;
  opacity: 0;
  filter: alpha(opacity=0);
}

.err {
  float: left;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  width: 100%;
  color: red;
  display: none;
}

.err-top160 {
  top: 160px;
}

#image_base64 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
}
